@import 'normalize';
@import 'fonts';
@import 'typography';

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--bg);
  color: var(--textNormal);
  padding: 8vmin;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  transition: 0.4s ease;
  background-color: transparent;
}

body.dark {
  // --bg: #485874;
  --bg: #2c3344;
  --textNormal: hsla(0,0%,100%,0.88);
  --textTitle: #fff;
  --hr: hsla(0,0%,100%,0.88);
}

#__next {
  height: 100%;
}

.page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-direction: column;

  a {
    color: #FFA52C;
    display: inline-block;
    margin: 0 0 1vh 0;
    letter-spacing: 0.5px;
    font-weight: 400;

    &:hover {
      color: #ce5971;
    }
  }
}
